# Prepare data

This notebook will prepare the data to test models on. <br>The basic premis at this stage is to prepare data and pass it to a deep learning network. The network will be trained and then the model will be tested on unsean data.

In [36]:
import yfinance 
import datetime 
from datetime import date, timedelta
import pandas as pd

In [37]:
startPeriod = 3650 # about 10 years
#startDate = "1994-01-07" # start date of data

buildGap = 30 # number of days before current date
nowDate = date.today()

startDate = nowDate  - timedelta(buildGap + startPeriod)
endDate = nowDate  - timedelta(buildGap) # end date is a month before today

In [38]:
startDate
startDateString = startDate.strftime('%Y-%m-%d')
startDateString
endDateString = endDate.strftime('%Y-%m-%d')
endDateString

'2020-07-28'

Print function

In [39]:
def print_full(x):
    pd.set_option('display.max_rows', len(x))
    print(x)
    pd.reset_option('display.max_rows')

Build Training data from y-finance

In [55]:
#raw_data = yfinance.download (tickers = "NFLX AAPL AMZN GOOGL GC=F TSLA", start = startDateString, end = endDateString, 
#                              interval = "1d", group_by = 'ticker', auto_adjust = True, treads = True)

raw_data = yfinance.download (tickers = "NFLX AAPL AMZN GOOGL TSLA GC=F", start = startDateString, 
                              interval = "1d", group_by = 'ticker', auto_adjust = True, treads = True)

raw_data
#print_full(raw_data)
#type(raw_data)

[*********************100%***********************]  6 of 6 completed

                   GC=F                                                      \
                   Open         High          Low        Close       Volume
Date
2010-07-30  1168.199951  1183.099976  1166.000000  1181.699951       5466.0
2010-08-02  1183.400024  1191.800049  1174.699951  1183.400024       2504.0
2010-08-03  1185.199951  1190.500000  1180.000000  1185.199951        598.0
2010-08-04  1186.300049  1203.000000  1186.300049  1193.699951       1068.0
2010-08-05  1197.199951  1199.300049  1190.000000  1197.199951        214.0
...                 ...          ...          ...          ...          ...
2020-08-23  1947.900024  1949.000000  1938.099976  1943.599976     515338.0
2020-08-24  1930.199951  1940.000000  1922.199951  1927.699951         85.0
2020-08-25  1927.500000  1928.500000  1911.800049  1911.800049        176.0
2020-08-26  1930.900024  1963.400024  1908.400024  1960.800049  159992495.0
2020-08-27  1950.699951  1953.300049  1944.199951  1949.599976    7490079.0

                   TSLA                                                     \
                   Open         High          Low        Close      Volume
Date
2010-07-30    20.200001    20.440001    19.549999    19.940001    426900.0
2010-08-02    20.500000    20.969999    20.330000    20.920000    718100.0
2010-08-03    21.000000    21.950001    20.820000    21.950001   1230500.0
2010-08-04    21.950001    22.180000    20.850000    21.260000    913000.0
2010-08-05    21.540001    21.549999    20.049999    20.450001    796200.0
...                 ...          ...          ...          ...         ...
2020-08-23          NaN          NaN          NaN          NaN         NaN
2020-08-24  2126.280029  2129.000000  1927.520020  2014.199951  20063600.0
2020-08-25  1974.890015  2027.949951  1968.000000  2023.339966  10658900.0
2020-08-26  2060.000000  2166.000000  2053.629883  2153.169922  14161200.0
2020-08-27          NaN          NaN          NaN          NaN         NaN

            ...        NFLX                                                  \
            ...        Open        High         Low       Close      Volume
Date        ...
2010-07-30  ...   14.241428   14.740000   14.077143   14.650000  30704800.0
2010-08-02  ...   14.860000   15.000000   14.424286   14.554286  24295600.0
2010-08-03  ...   14.437143   14.961429   14.104285   14.915714  30139200.0
2010-08-04  ...   14.995714   15.500000   14.957143   15.447143  24243100.0
2010-08-05  ...   15.318571   15.814285   15.071428   15.790000  24296300.0
...         ...         ...         ...         ...         ...         ...
2020-08-23  ...         NaN         NaN         NaN         NaN         NaN
2020-08-24  ...  495.440002  501.000000  483.160004  488.809998   4762200.0
2020-08-25  ...  488.190002  492.470001  485.089996  490.579987   5727700.0
2020-08-26  ...  492.500000  549.039978  492.079987  547.530029  20347600.0
2020-08-27  ...         NaN         NaN         NaN         NaN         NaN

                  AAPL
                  Open        High         Low       Close       Volume
Date
2010-07-30   31.589235   32.059573   31.467023   31.757126  112052500.0
2010-08-02   32.150913   32.416325   32.049683   32.324974  107013900.0
2010-08-03   32.221286   32.499043   32.025003   32.334858  104413400.0
2010-08-04   32.447217   32.624981   32.134890   32.464500  105093800.0
2010-08-05   32.310171   32.489170   32.164502   32.306469   72274300.0
...                ...         ...         ...         ...          ...
2020-08-23         NaN         NaN         NaN         NaN          NaN
2020-08-24  514.789978  515.140015  495.750000  503.429993   86484400.0
2020-08-25  498.790009  500.720001  492.209991  499.299988   52873900.0
2020-08-26  504.720001  507.970001  500.329987  506.089996   40617600.0
2020-08-27         NaN         NaN         NaN         NaN          NaN

[2621 rows x 30 columns]

In [56]:
df_comp = raw_data.copy()

In [57]:
df_comp['AAPL'].Close[:]

Date
2010-07-30     31.757126
2010-08-02     32.324974
2010-08-03     32.334858
2010-08-04     32.464500
2010-08-05     32.306469
                 ...
2020-08-23           NaN
2020-08-24    503.429993
2020-08-25    499.299988
2020-08-26    506.089996
2020-08-27           NaN
Name: Close, Length: 2621, dtype: float64

In [58]:

data = pd.DataFrame()
data['AAPL'] = df_comp['AAPL'].Close[:]
data['AMZN'] = df_comp['AMZN'].Close[:]
data['TSLA'] = df_comp['TSLA'].Close[:]
data['NFLX'] = df_comp['NFLX'].Close[:]
data['GC=F'] = df_comp['GC=F'].Close[:]
data

                  AAPL         AMZN         TSLA        NFLX         GC=F
Date
2010-07-30   31.757126   117.889999    19.940001   14.650000  1181.699951
2010-08-02   32.324974   120.070000    20.920000   14.554286  1183.400024
2010-08-03   32.334858   122.419998    21.950001   14.915714  1185.199951
2010-08-04   32.464500   127.580002    21.260000   15.447143  1193.699951
2010-08-05   32.306469   127.830002    20.450001   15.790000  1197.199951
...                ...          ...          ...         ...          ...
2020-08-23         NaN          NaN          NaN         NaN  1943.599976
2020-08-24  503.429993  3307.459961  2014.199951  488.809998  1927.699951
2020-08-25  499.299988  3346.489990  2023.339966  490.579987  1911.800049
2020-08-26  506.089996  3441.850098  2153.169922  547.530029  1960.800049
2020-08-27         NaN          NaN          NaN         NaN  1949.599976

[2621 rows x 5 columns]